{% extends "authority/index.html" %}
{% block body %}
<table border="1" class="table table-striped">
    <tr style="background: #8C1205;color: #ffffff;font-family: Georgia, serif;">
        <th>#</th>
        <th>AUTHORITY</th>
        <th>PLACE</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.AUTHORITY.name }}</td>
        <td>{{ i.PLACE.place_name }}</td>
        <td><a href="/adm_delete_allocations/{{ i.id }}" class="btn btn-danger" onclick="return confirm('Are you sure')" style="width: 80%">Delete</a></td>
        <td><a href="/auth_add_camera/{{ i.id }}#content" class="btn btn-primary" style="width: 80%" >Add camera</a> </td>
        <td><a class="btn btn-warning"  href="/auth_view_camera/{{ i.id }}#content">View camera</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}